<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Decathlon calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="service/unit.srv.js"></script>
    <script src="controller/deca.ctrl.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Kümnevõistluse punktikalkulaator</h1>
</div>
<div ng-app="app" ng-controller="decaCtrl as vm" class="container">

    <div class="row">

        <div class="col-sm-4">
            <br>
            <select ng-model="vm.selectedEvent" ng-change="vm.initUnit()">
                <option value="" disabled>Vali ala</option>
                <option ng-repeat="event in vm.events" value="{{event}}" ng-selected="$first">{{event.eventName}}
                </option>
            </select>
        </div>

        <div class="col-sm-4">
            <label>Sisesta tulemus {{vm.unit}}: </label>
            <br>
            <input type="number" ng-model="vm.resultVal" ng-change="vm.addPoints()">
        </div>

        <div class="col-sm-4">
            <br>
            <label>Punktid:</label>
            <label>{{vm.pointsValue}}</label>
        </div>

    </div>

</div>
</body>
</html>